.tmpl-home {
  max-width: none;
  width: 100%;
}

header:has(+ .tmpl-home) {
  border: none;
}

.frontpage {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 4rem;
}

.hero {
  --hero-color: var(--primary-color);

  background-color: var(--hero-color);
  padding: 4rem 0;
}

@media (prefers-color-scheme: dark) {
  .hero {
    --hero-color: var(--gray-900);
  }
}

.title {
  height: 1em;
  line-height: 1em;
  position: relative;
}

@media (hover: hover) {
  .title:hover .title-text {
    transition: none !important;
  }
}

@media (hover: none) {
  .title:active .title-text {
    transition: none !important;
  }
}

.title-text {
  color: var(--color);
  font-family: "EB Garamond", serif;
  font-size: calc(2rem + 10vmin);
  inset: -5rem;
  padding: 5rem;
  position: absolute;
  -webkit-text-stroke: 0.0625rem black;
  /* stylelint-disable-next-line property-no-unknown */
  text-stroke: 0.0625rem black;
  transform: translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0));
  transition: transform 0.3s ease-in-out;
}

.title-text:not(:last-child) {
  user-select: none;
}

@media (hover: none) {
  .title-text {
    /* Disable all selection on touch devices to make it possible to pan */
    user-select: none;
  }
}

.title-text:nth-child(1) {
  --color: #c1839f;
  --translate-x: -0.55%;
  --translate-y: 0.47%;
}

.title-text:nth-child(2) {
  --color: #ee6055;
  --translate-x: -0.27%;
  --translate-y: 0.23%;
}

.title-text:nth-child(3) {
  --color: #a8d0db;
  --translate-x: -0.18%;
  --translate-y: 0.15%;
}

.title-text:nth-child(4) {
  --color: #ffe0ff;
}

.title,
.intro {
  color: #fff;
  max-width: 30rem;
}

.intro {
  text-wrap: pretty;
}

@supports (text-wrap: balance) {
  .intro {
    text-wrap: balance;
  }
}

.posts-heading {
  border-bottom: 0.125rem solid var(--gray-900);
  display: inline-block;
  margin-bottom: 1rem;
}

.tmpl-home h1 {
  font-size: 4.1rem;
  margin-bottom: 1rem;
}

.tmpl-home .postlist-link {
  display: block;
  font-weight: 700;
}

.archive-link {
  font-size: 0.8rem;
  margin-top: 2rem;
}

.hero-inner,
.posts {
  margin: 0 auto;
  max-width: 50rem;
  width: 90%;
}
