:root {
  --darkgray: #333;
  --lightgray: #e0e0e0;
  --navy: #17050f;

  --primary-color: #009688;
  --sun-size: 5rem;

  --background-color: #fff;
  --text-color: var(--darkgray);
  --visited-link-color: var(--navy);
  --code-background-color: #E0F2F1;
  --heading-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--darkgray);
    --text-color: var(--lightgray);
    --visited-link-color: #fff;
    --code-background-color: #222;
    --heading-color: var(--lightgray);
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

:focus {
  outline: 0.125rem var(--primary-color) solid;
}

html {
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(0.95rem + 0.5vw);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.visually-hidden {
	border:0 !important;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px !important;
	overflow: hidden;
	padding:0 !important;
	position: absolute !important;
	width: 1px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img,
.post-tags {
  max-width: 37.5rem;
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: inherit;
  text-decoration-color: var(--primary-color);
}

a[href]:visited {
  color: var(--visited-link-color);
}

main {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 50rem;
  width: 90%;
}

header {
  align-items: center;
  border-bottom: 0.0625rem dashed var(--lightgray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: 'Fira Code', Consolas, Menlo, Monaco, 'Andale Mono WT',
    'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
    'Nimbus Mono L', 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.tmpl-post pre[class*="language"] {
  border-radius: 0.5rem;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.17),
    0 2px 2px rgba(0, 0, 0, 0.17),
    0 4px 4px rgba(0, 0, 0, 0.17),
    0 8px 8px rgba(0, 0, 0, 0.17),
    0 16px 16px rgba(0, 0, 0, 0.17);
  font-size: 0.875rem;
  margin: 0.5em 0 2em;
  padding: 1.5em 1em;
}

.highlight-line {
  color: inherit;
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
}

.highlight-line:empty::before {
  content: ' ';
}

.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

.home {
  font-size: 1em;
  margin: 1rem 0;
  padding: 0 1rem;
}

.home a {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.home a:hover,
.home a:focus {
  text-decoration: underline;
}

.nav {
  list-style: none;
  margin-left: 1em;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.frontpage-heading {
  margin-bottom: 1rem;
}

.postlist {
  list-style: none;
  margin: 0 -1rem -1rem;
  padding: 0;
}

.postlist-item {
  margin: 1rem;
}

.postlist-date {
  color: var(--text-color);
  font-size: 0.8125em;
  word-spacing: -0.03125em;
}

.archive-link {
  margin-top: 2rem;
}

.tmpl-home .postlist-link {
  display: block;
  font-weight: 700;
}

.tmpl-home h1 {
  font-size: 4.1rem;
  margin-bottom: 1rem;
}

@supports(((background-clip: text) or (-webkit-background-clip: text)) and (-webkit-text-fill-color: transparent)) {
  .tmpl-home h1 {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    /*background-image: url(https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);*/
    background-image: url(https://picsum.photos/400/800/);
