---
layout: layouts/home.njk
tags:
  - nav
navtitle: Archive
permalink: /sometimes-blogging/
date: 2000-01-01
---

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
