---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<link rel="stylesheet" href="{{ '/css/frontpage.min.css' | url }}" />

<div class="frontpage">
  <div class="hero">
    <h1 class="title">Sindre Bøyum</h1>
    <p class="intro">
      It's my pleasure to welcome you to my area of the Internet. I'm a frontend
      developer solving world problems with TS and CSS.
    </p>
  </div>

  <div class="posts">
    <h2 class="posts-heading">I wrote this</h2>
    <!-- prettier-ignore -->
    {% set postslist = collections.posts | head(-3) %}
    {% include "postslist.njk" %}

    <div class="archive-link">
      More posts can be found in
      <a href="{{ '/sometimes-blogging/' | url }}">the archive</a>.
    </div>
  </div>
</div>
