*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --gray-800: #222;
  --gray-700: #333;
  --gray-600: #444;
  --gray-200: #e0e0e0;
  --gray-100: #f2f2f2;
  --navy: #17050f;
  --primary-color: #2866d7;
  --sun-size: 5rem;
  --background-color: #fff;
  --background-color--inverse: var(--gray-700);
  --secondary-background-color: var(--gray-200);
  --secondary-background-color--inverse: var(--gray-600);
  --text-color: var(--gray-700);
  --visited-link-color: var(--navy);
  --code-background-color: #e0f2f1;
  --heading-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--gray-700);
    --background-color--inverse: var(--gray-100);
    --secondary-background-color: var(--gray-600);
    --secondary-background-color--inverse: var(--gray-200);
    --text-color: var(--gray-200);
    --visited-link-color: #fff;
    --code-background-color: var(--gray-800);
    --heading-color: var(--gray-200);
  }
}

.show-splash-screen {
  pointer-events: none;
}

.show-splash-screen .splash-screen {
  opacity: 100%;
}

.splash-screen {
  align-items: center;
  background-color: var(--background-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0%;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.35s ease-in-out;
  z-index: 10;
}

.splash-screen svg {
  height: calc(5rem + 20vh);
  max-height: 70vh;
  max-width: 70vw;
  width: calc(5rem + 20vw);
}

html {
  color: var(--text-color);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: calc(0.95rem + 0.5vw);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  padding:
    env(safe-area-inset-top, 1rem)
    env(safe-area-inset-right, 1rem)
    env(safe-area-inset-bottom, 1rem)
    env(safe-area-inset-left, 1rem);
}

header {
  align-items: center;
  border-bottom: 0.0625rem dashed var(--gray-200);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sun {
  height: var(--sun-size);
  margin-right: 1rem;
  position: relative;
  width: var(--sun-size);
}

.sun img,
.sun svg {
  border-radius: 50%;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
}

.sun img {
  height: 65%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  width: 65%;
}

.sun svg {
  animation: sunrays 1.5s ease-in-out infinite alternate;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 50rem;
  width: 90%;
}

footer {
  background-color: #222;
  color: #fff;
  margin: 4rem 0 0;
  padding: 2rem 0;
}

.footer-content {
  margin: 0 auto;
  max-width: 50rem;
  width: 90%;
}

footer svg {
  display: block;
  margin: 0 auto;
  width: calc(4rem + 5vw);
}
