---
layout: layouts/base.njk
templateClass: tmpl-post
---

<link rel="stylesheet" href="{{ '/css/prism-synthwave84.min.css' | url }}" />

{% if cover_image %}
<div class="post-cover-image">
  <img alt="" src="{{ cover_image | url }}" />
</div>
{% endif %}

<h1 class="post-title">{{ title }}</h1>
{{ content | safe }}

<p>
  <a href="{{ '/' | url }}">← Home</a>
</p>
