---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="post-title">{{ title }}</h1>
<div class="post-tags">
  Tags:
  {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}

</div>
{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
